@import "../variables.scss";
@import "../mixin.scss";

.basket {
    z-index: 4;
    position: absolute;
    width: 600px;
    max-width: 95%;
    right: 10px;
    background-color: $white;
    top: 95%;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid $grey;
    display: none;

    &.active {
        display: block;
    }

    &-button {
        text-align: right;
        @include flex-space-between-center;

        &.inactive {
            display: none;
        }

        &__title {
            @include poppins-font-normal-xl;

            @media (max-width: 500px) {
                @include poppins-font-bold-l;
            }
        }

        &__clear {
            @include poppins-font-bold-m;
            width: 150px;
            padding: 10px 0;
            border: 3px solid $pink;
            border-radius: 15px;
            color: $pink;
            background: $palePink;

            @media (max-width: 500px) {
                @include poppins-font-bold-s;
                width: 120px;
            }

            &:hover {
                background: $mainColor;
                border: 3px solid $palePink;
                color: $white;
                transition: 0.3s;
                transform: scale(1.1);
            }
        }
    }

    &-list {
        &__empty {
            @include poppins-font-normal-xl;
            text-align: center;

            @media (max-width: 500px) {
                @include poppins-font-normal-l;
            }
        }

        &__item {
            @include poppins-font-normal-l;
            @include flex-space-between-center;
            text-align: center;
            padding: 5px 0;

            &:not(:last-child) {
                border-bottom: 2px solid $pink;
            }

            @media (max-width: 500px) {
                @include poppins-font-normal-s;
            }

            &_image {
                height: 30%;
                width: 30%;
                border-radius: 10px;
            }

            &_name {
                width: 30%;
            }

            &_count {
                width: 10%;
            }

            &_price {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            & del {
                @include poppins-font-normal-l;
                color: $grey;

                @media (max-width: 500px) {
                    @include poppins-font-normal-s;
                }
            }
        }
    }

    &-total {
        @include poppins-font-normal-xl;
        text-align: right;

        @media (max-width: 500px) {
            @include poppins-font-normal-l;
        }
    }
}