@import '../../../node_modules/swiper/swiper.scss';
@import '../../../node_modules/swiper/modules/pagination/pagination.scss';
@import '../../../node_modules/swiper/modules/navigation/navigation.scss';
@import '../variables.scss';


.slider__wrapper {
  padding-top: 20px;
  overflow: hidden;

  @media (max-width: 767px) {
    padding-top: 10px;
  }

  .image-slider__slide_image {
    width: 100%;
    display: block;
    margin: 5px auto;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 30px;

      @media (max-width: 500px) {
        border-radius: 10px;
      }
    }
  }

  .swiper-container {
    position: relative;

    & .swiper-pagination {
      position: static;
      display: block;
      margin: 0 auto;
    }

    & .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      font-size: $fs-xs;
      background-color: #FFFFFF;
      text-align: center;

      @media (max-width: 500px) {
        width: 8px;
        height: 8px;
        font-size: 5px;
      }
    }

    & .swiper-button-next  {
      color: $white;
      position: absolute;
      top: 47%;
      left: 97%;
      font-size: 20px;

      @media (max-width: 1024px) {
        left: 85%;
      }

      @media (max-width: 500px) {
        left: 82%;
      }

      &::after {
        font-size: 40px;

        @media (max-width: 776px) {
          font-size: 30px;
        }

        @media (max-width: 375px) {
          font-size: 20px;
        }
      }
    }

    & .swiper-button-prev  {
      color: $white;
      position: absolute;
      top: 47%;
      left: 1%;

      @media (max-width: 1024px) {
        left: 12%;
      }

      @media (max-width: 767px) {
        left: 11%;
      }

      &::after {
        font-size: 40px;

        @media (max-width: 776px) {
          font-size: 30px;
        }

        @media (max-width: 375px) {
          font-size: 20px;
        }
      }
    }
  }
}




