@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background: $mainColor, no-repeat;
}

button {
  cursor: pointer;
}

del {
  color: $grey;
}