//Line-height:
$lh-xxl:32px;
$lh-xl:24px;
$lh-l:18px;
$lh-m:16px;
$lh-s:14px;
$lh-xs:12px;
$lh-xxs: 10px;

//Font-size:
$fs-xxl:24px;
$fs-xl:18px;
$fs-l:16px;
$fs-m:14px;
$fs-s:12px;
$fs-xs:10px;
$fs-xxs: 8px;

//Colors:
$mainColor: linear-gradient(to right, #cb11ab 0, #481173 100%);
$white: #FFFFFF;
$pink: #cb11ab;
$palePink: #fdeef9;
$grey: #999;